<html>
  <head></head>
  <body>
    <h1>Albums</h1>
    <div>
      <% @albums.each do |album| %>
        <p>
          Title: 
            <a href="/album/<%= album.id %>"><%= album.title %></a>
          <br/>
          Released: <%= album.release_year %>
        </p>
      <% end %>
    </div>
  </body>
</html>
